.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: sans-serif;
  background-color: #fafafa;
}

.page-header {
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 5px 5px 0px #cccccc;
}

.menu {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.menu-link {
  color: #111111;
  transition: color 250ms ease-in-out;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
