/* ============== COMMON STYLES ============== */
.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.accent-color {
  color: #fd9222;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
/* ============== /COMMON STYLES ============== */

/* ============== HEADER STYLES ============== */
.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}

.menu-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* ============== /HEADER STYLES ============== */

/* ============== HERO STYLES ============== */
.main-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
}

.buy-now-btn {
  font-size: 14px;
  font-weight: 600;
  background-color: #fd9222;
  color: #ffffff;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.how-made-link {
  font-size: 14px;
  font-weight: 600;
}

.how-made-link:hover,
.how-made-link:focus {
  color: #fd9222;
}

.scroll-down-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}
/* ============== /HERO STYLES ============== */

/* ============== BENEFITS STYLES ============== */
.benefits-list-title {
  font-size: 18px;
  font-weight: 600;
}

.benefits-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
/* ============== /BENEFITS STYLES ============== */

/* ============== INGREDIENTS STYLES ============== */
.ingredients-description {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111111;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
/* ============== /INGREDIENTS STYLES ============== */

/* ============== HOW MADE STYLES ============== */
.how-made-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #111111;
}

.how-made-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}
/* ============== /HOW MADE STYLES ============== */

/* ============== REVIEW STYLES ============== */
.reviews-list-fullname {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: #111111;
}

.reviews-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.leave-review-btn {
  font-size: 18px;
  font-weight: 600;
  color: #111111;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}
/* ============== /REVIEW STYLES ============== */

/* ============== FOOTER STYLES ============== */
.page-footer-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.contact-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-align: center;
}

.contact-list-link {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
}
/* ============== /FOOTER STYLES ============== */
