/* ============== COMMON STYLES ============== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

.accent-color {
  color: #fd9222;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1168px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* ============== /COMMON STYLES ============== */

/* ============== HEADER STYLES ============== */
.page-navigation {
  width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}

.menu {
  display: flex;
  column-gap: 24px;
}

.menu-link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #111111;
}

.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* ============== /HEADER STYLES ============== */

/* ============== HERO STYLES ============== */
.hero {
  width: 1136px;
  padding: 381px 40px 40px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.6);
}

.main-title {
  width: 470px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  color: #ffffff;
}

.hero-bottom-block {
  display: flex;
  align-items: center;
}

.buy-now-btn {
  min-width: 144px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  margin-right: 14px;
  background-color: #fd9222;
  color: #ffffff;
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.how-made-link {
  min-width: 183px;
  padding: 14px 40px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #ffffff;
  margin-right: auto;
  color: #ffffff;
}

.how-made-link:hover,
.how-made-link:focus {
  color: #fd9222;
  border-color: #fd9222;
}

.scroll-down-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}
/* ============== /HERO STYLES ============== */

/* ============== BENEFITS STYLES ============== */
.benefits {
  margin-top: 72px;
  margin-bottom: 50px;
  background-color: #1e1823;
}

.benefits-container {
  padding-left: 34px;
  padding-right: 34px;
}

.benefits-list {
  display: flex;
  column-gap: 88px;
}

.benefits-list-item {
  width: calc((100% - 196px) / 3);
}

.benefits-list-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #ffffff;
}

.benefits-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* ============== /BENEFITS STYLES ============== */

/* ============== INGREDIENTS STYLES ============== */
.ingredients-section-title {
  width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.ingredients-description {
  width: 486px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: #111111;
}

.ingredients-list-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 19px;
}

.ingredients-list-item {
  width: calc((100% - 57px) / 4);
  padding: 32px 28px;
  border-radius: 15px;
  border: 1px solid #fd9222;
}

.ingredients-list-item:nth-child(4n + 1) {
  color: #ffffff;
  background-color: #fd9222;
}

.ingredients-list-item:nth-child(even) {
  background-color: #ffffff;
}

.ingredients-list-item:nth-child(4n + 3) {
  color: #ffffff;
  background-color: #1e1823;
  border-color: #1e1823;
}

.ingredients-list-img {
  margin-bottom: 36px;
}
/* ============== /INGREDIENTS STYLES ============== */

/* ============== HOW MADE STYLES ============== */
.how-made-title {
  margin-bottom: 50px;
}

.how-made-content-wrapper {
  display: flex;
  column-gap: 20px;
}

.how-made-text-wrapper {
  flex-grow: 1;
  padding: 32px;
  border-radius: 15px;
  background-color: #ffffff;
}

.how-made-list-title {
  width: 350px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
  color: #111111;
}

.how-made-list {
  padding-right: 26px;
}

.how-made-list-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

.how-made-list-item:not(:last-child) {
  margin-bottom: 24px;
}
/* ============== /HOW MADE STYLES ============== */

/* ============== REVIEW STYLES ============== */
.reviews {
  margin-bottom: 50px;
}

.reviews-title {
  margin-bottom: 50px;
}

.reviews-list {
  display: flex;
  column-gap: 28px;
  margin-bottom: 50px;
}

.reviews-list-item {
  width: calc((100% - 56px) / 3);
  padding-top: 56px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 9.05px 100px 0px rgba(17, 17, 17, 0.03);
}

.reviews-list-fullname {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: #111111;
}

.reviews-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.leave-review-btn {
  display: block;
  min-width: 222px;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 40px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  border: 1px solid #fd9222;
  color: #111111;
  background-color: #ffffff;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  color: #ffffff;
  background-color: #fd9222;
}
/* ============== /REVIEW STYLES ============== */

/* ============== FOOTER STYLES ============== */
.page-footer {
  background-color: #1e1823;
}

.page-footer-top-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.page-footer-title {
  width: 300px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.contact-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #ffffff;
  margin-bottom: 14px;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 4px;
}

.contact-list-link {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: #fd9222;
}

.page-footer-bottom-block {
  padding-top: 24px;
}

.page-footer-menu-link {
  color: #ffffff;
}
/* ============== /FOOTER STYLES ============== */
