ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.footer {
  background-color: slategray;
  padding: 30px 0;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: tomato;
}

.social-list-link:hover,
.social-list-link:focus {
  fill: teal;
}

.social-list-icon {
  width: 32px;
  height: 32px;
}
